@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bitcount+Grid+Double:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #5F6FFF;
}
::-webkit-scrollbar{
    @apply hidden
}

*{
    font-family: Alfa;
}